<div class="about-main-container">
  <div class="info-container">
    <div class="text-container">
      <h5>About Us</h5>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <div>
      <img 
        class="about-image"
        src="https://img.freepik.com/premium-photo/top-view-business-team-working-together-wooden-table-modern-office_14117-166775.jpg"
        alt="">
    </div>
  </div>
  <div>
    <div class="info-container">
      <div>
        <img
        class="about-image"
          src="https://img.freepik.com/premium-photo/business-people-meeting-discussion-communication-concept-generative-ai_493343-34460.jpg"
          alt="">
      </div>
      <div class="text-container">
        <h5>Our Mission</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo
          enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.</p>
      </div>
    </div>
    <div class="info-container">
      <div class="text-container">
        <h5>Our Story</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo
          enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.</p>
      </div>
      <div>
        <img
        class="about-image"
          src="https://img.freepik.com/premium-photo/business-meeting-several-companies-closing-deal-modern-office-business-concept-companies_22736-2854.jpg"
          alt="">
      </div>
    </div>
  </div>
</div>