<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="welcome">
  <h5>Welcome, {{user()?.username}}! Today is {{currentDate | date: 'MMM dd, yyyy'}}</h5>
</div>
@if (todaysMeetings.length > 0) {
  <div class="meetings-carousel">
    <p-carousel 
        [value]="todaysMeetings" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="false"
        showIndicators="false"
        autoplayInterval="8000"
        [responsiveOptions]="responsiveOptions"
        styleClass="cr-carousel"
        >
        <ng-template let-meeting pTemplate="item">
          <div class="meeting-card border-round p-3">
            <div class="client-info text-center">
              <h3 class="client-name">
                {{ meeting.client.firstname }} {{ meeting.client.lastname }}
              </h3>
              <span class="date">
                {{ meeting.date | date:'medium' }}
              </span>
            </div>
            <div class="additional-info grid">
              <div class="column">
                <p class="client-company">Company: {{ meeting.client.company }}</p>
                <p class="client-country">Country: {{ meeting.client.country }}</p>
              </div>
              <div class="column">
                <p class="client-phone">Phone: {{ meeting.client.phone }}</p>
                <p class="meeting-status">
                  <p-tag [value]="meeting.status" severity="success"></p-tag>
                </p>
              </div>
            </div>
          </div>
        </ng-template>
    </p-carousel>
  </div>
}

<div class="dashboard">
  <div class="row">
    <div class="tile" routerLink="/clients">
      <mat-icon class="tile-icon">groups</mat-icon>
      Clients
    </div>
    <div class="tile" (click)="onAddMeeting()">
      <mat-icon class="tile-icon">person_add</mat-icon>Add meeting
    </div>
  </div>

  <div class="row">
    <div class="tile" routerLink="/">
      <mat-icon class="tile-icon">calendar_month</mat-icon>
      All meetings
    </div>
    <div class="tile" routerLink="/">
      <mat-icon class="tile-icon">bar_chart</mat-icon>Statistics</div>
  </div>

</div>