@if (client()) {
<div class="client-info-wrapper">
  <div class="row">
    <div class="col-8">
      <div class="client-info">
        <h3>Client Information</h3>
        <div class="client-details-grid">
          <div class="client-field">
            <strong>First Name:</strong> <span>{{ client()?.firstname }}</span>
          </div>
          <div class="client-field">
            <strong>Last Name:</strong> <span>{{ client()?.lastname }}</span>
          </div>
          <div class="client-field">
            <strong>Email:</strong> <span>{{ client()?.email }}</span>
          </div>
          <div class="client-field">
            <strong>Phone:</strong> <span>{{ client()?.phone }}</span>
          </div>
          <div class="client-field">
            <strong>Country:</strong> <span>{{ client()?.country }}</span>
          </div>
          <div class="client-field">
            <strong>City:</strong> <span>{{ client()?.city }}</span>
          </div>
          <div class="client-field">
            <strong>Street:</strong> <span>{{ client()?.street }}</span>
          </div>
          <div class="client-field">
            <strong>Postcode:</strong> <span>{{ client()?.postcode }}</span>
          </div>
          <div class="client-field">
            <strong>Company:</strong> <span>{{ client()?.company }}</span>
          </div>
          <div class="client-field">
            <strong>Sector:</strong> <span>{{ client()?.sector }}</span>
          </div>
          <div class="client-field">
            <strong>Status:</strong> <span>{{ client()?.status }}</span>
          </div>
        </div>
      </div>
      <div class="client-meetings mt-4">
        <div class="d-flex justify-content-between mb-2 underline">
          <h3 class="mb-0">Meetings</h3>
          <button class="btn btn-primary d-inline-flex align-items-center" (click)="onAddMeeting()">
            <mat-icon class="btn-mat-icon align-middle me-2">add</mat-icon>
            Add meeting
          </button>
        </div>
        <app-meeting [clientId]="client()!.id"></app-meeting>
      </div>
    </div>
    <div class="col-4">
      <div class="client-notes">
        <div class="d-flex justify-content-between mb-2 underline">
          <h3 class="mb-0">Notes</h3>
          <button class="btn btn-primary d-inline-flex align-items-center" (click)="onAddNote()">
            <mat-icon class="btn-mat-icon align-middle me-2">add</mat-icon>
            Add note
          </button>
        </div>
        <app-note [clientId]="client()!.id"></app-note>
      </div>
    </div>
  </div>
</div>
}