<!-- <h2 mat-dialog-title>Delete client</h2> -->
<app-dialog-header headerTitle="Delete client" (onClose)="closeDialog()" />
<mat-dialog-content class="delete-client-dialog">
  <p class="delete-client-question">Are you sure?</p>
  <p class="delete-client-details">
    Client {{client()?.firstname }} {{client()?.lastname}} will be permanently deleted.
  </p>

  @if(errorMessage()){
    <app-alert [alertMessage]="errorMessage()" alertClass="alert-danger"/>
  }
  <div class="form-actions d-flex justify-content-end mt-3">
    <button class="btn btn-secondary d-inline-flex align-items-center" mat-dialog-close>
      <mat-icon class="btn-mat-icon align-middle me-2">close</mat-icon>
      Cancel
    </button>
    <button class="btn btn-primary d-inline-flex align-items-center ms-2" (click)="onDelete()" cdkFocusInitial>
      <mat-icon class="btn-mat-icon align-middle me-2">person_remove</mat-icon>
      Delete
    </button>
  </div>
</mat-dialog-content>
