<div class="login-wrapper mt-3">
  <h3>Log in</h3>
  @if (loginError()) {
    <app-alert alertMessage="Invalid username or password" alertClass="alert-danger"/>
  }
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="onTogglePasswordField($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button id="login-button" [disabled]="loginForm.invalid" type="submit" mat-raised-button>Log in</button>
    </div>
    <div>
      <p class="text-center">Don't have an account? <a routerLink="/registration">Create it here!</a></p>
    </div>
  </form>
</div>