<mat-toolbar role="toolbar" class="task-header">
  <span>Change password</span>
  <span class="fx-spacer"></span>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon mat-list-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div>
    <form (ngSubmit)="onSubmitPasswordChange()" [formGroup]="userPasswordForm">
      <div>
        <mat-form-field>
          <mat-label>Current password</mat-label>
          <input matInput (blur)="updateErrorMessage()" formControlName="currentPassword" type="password" />
          @if (controls.currentPassword.invalid) {
          <mat-error>{{currentPasswordErrorMessage()}}</mat-error>
          }
        </mat-form-field>
        <div formGroupName="passwords">
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput (blur)="updateErrorMessage()" formControlName="newPassword"
              [type]="hideNewPassword() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix type="button" (click)="onTogglePasswordField($event, 'newPassword')"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword()">
              <mat-icon>{{hideNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (controls.passwords.controls.newPassword.invalid) {
            <mat-error>{{newPasswordErrorMessage()}}</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <input matInput (blur)="updateErrorMessage()" formControlName="confirmNewPassword"
              [type]="hideConfirmNewPassword() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix type="button"
              (click)="onTogglePasswordField($event, 'confirmNewPassword')" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirmNewPassword()">
              <mat-icon>{{hideConfirmNewPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (controls.passwords.controls.confirmNewPassword.invalid) {
            <mat-error>{{confirmNewPasswordErrorMessage()}}</mat-error>
            }
          </mat-form-field>
          @if (controls.passwords.invalid) {
          <mat-error>{{passwordMatchesErrorMessage()}}</mat-error>
          }
        </div>
      </div>
      <mat-dialog-actions [align]="'end'">
        <button type="button" mat-stroked-button (click)="closeDialog()"><mat-icon>close</mat-icon>Close</button>
        <button type="submit" mat-stroked-button [disabled]="userPasswordForm.invalid"><mat-icon>checkmark</mat-icon>Save</button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>