.client-form-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.client-form-wrapper-new {
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin: 20px 0 10px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.col {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
  width: 100%;
}
