@if (userForm) {
<div class="user-form-wrapper">
  <h2>User Account</h2>
  <form (ngSubmit)="saveUserData()" [formGroup]="userForm">
    <div class="section-title">Personal Information</div>
    <table class="form-table">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput (blur)="updateErrorMessage()" formControlName="username">
            @if (controls.username.invalid) {
            <mat-error>{{usernameErrorMessage()}}</mat-error>
            }
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput (blur)="updateErrorMessage()" formControlName="email">
            @if (controls.email.invalid) {
            <mat-error>{{emailErrorMessage()}}</mat-error>
            }
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="section-title">Address</div>
    <table class="form-table">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="full-width">
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="action-buttons d-flex justify-content-end">
      @if (!editMode()) {
      <button type="button" class="btn btn-secondary d-inline-flex align-items-center" (click)="toggleEditMode()">
        <mat-icon class="btn-mat-icon align-middle me-2">edit</mat-icon>
        Edit
      </button>
      }
      @else {
      <button type="button" class="btn btn-secondary d-inline-flex align-items-center" (click)="cancelChanges()">
        <mat-icon class="btn-mat-icon align-middle me-2">close</mat-icon>
        Cancel
      </button>
      <button type="submit" class="btn btn-primary d-inline-flex align-items-center mx-2" [disabled]="userForm.invalid">
        <mat-icon class="btn-mat-icon align-middle me-2">checkmark</mat-icon>
        Save
      </button>
      <button type="button" class="btn btn-primary d-inline-flex align-items-center"(click)="openChangePasswordDialog()">
        <mat-icon class="btn-mat-icon align-middle me-2">key</mat-icon>
        Change password
      </button>
      }
    </div>
  </form>
</div>
}